# =========================
# ОС та загальне
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / редактори
# =========================
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.code-workspace
*.cbp
*.depend
*.layout

# =========================
# Компіляція / білд
# =========================
obj/ 
x64/
build/
bin/
out/
Debug/
Release/

# =========================
# Виконувані файли
# =========================
*.exe
*.out
*.app

# =========================
# Об'єктні файли
# =========================
*.o
*.obj
*.a
*.lib

# =========================
# Логи / тимчасові файли
# =========================
*.log
*.tmp

# =========================
# SFML / сторонні бібліотеки
# (DLL не зберігаємо, кожен підтягує локально)
# =========================
*.dll

# =========================
# CMake (якщо колись додаси)
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile