# ignore folders
obj/ 
bin/
obj/
# ignore files
Doorf.cbp
Doorf.depend
Doorf.layout
MyTutorialTestGameSFML.vcxproj
MyTutorialTestGameSFML.vcxproj.filters
MyTutorialTestGameSFML.vcxproj.user
openal32.dll
sfml-audio-2.dll
sfml-audio-d-2.dll
sfml-graphics-d-2.dll
sfml-network-2.dll
sfml-network-d-2.dll
sfml-system-2.dll
sfml-system-d-2.dll
sfml-window-2.dll
sfml-window-d-2.dll